:host {
  display: block;
  font-family: RobotoDraft, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
}

core-animated-pages {
  position: absolute;
  width: 95%;
  height: 90%;
}

core-header-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

core-toolbar {
  color: rgb(255, 255, 255);
  background-color: rgb(79, 125, 201);
}

paper-ripple {
  color: rgb(79, 125, 201);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#searchresults {
  background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
  padding: 5px;
  text-align: center;
}

.video-container {
  cursor: pointer;
  display: inline-block;
  width: 340px;
  height: 340px;
  background-color: rgb(255, 255, 255);
  vertical-align: top;
  margin: 5px;
}

.video-container > img {
  display: block;
  margin: 10px auto 10px auto;
}

.video-container > h1 {
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.video-container > p {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

paper-slider {
  width: 100%;
  top: -20px;
  position: relative;
  z-index: 1;
}

paper-slider::shadow #sliderBar::shadow #secondaryProgress {
  background-color: rgb(214, 227, 231);
}

#playercontrols {
  margin-top: -38px;
}

@media (max-width: 361px) {
  #searchresults {
    padding-right: 15px;
  }

  .video-container {
    width: 100%;
  }

  .video-container > img {
    width: 100%;
    margin: 0 0 5px 0;
  }
}