:host {
  display: block;
  position: relative;
  font-family: RobotoDraft, 'Helvetica Neue', Arial, sans-serif;
}

core-animated-pages, paper-ripple, #resultspage, #playerpage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#playerpage {
  background: #e5e5e5;
}

core-toolbar {
  color: #ffffff;
  background-color: #e51c23;
}

paper-ripple {
  color: #ff7997;
}

paper-input /deep/ input {
  color: #ffffff;
}

#searchresults {
  background: #e5e5e5;
  padding: 8px 8px 8px 12px;
  text-align: center;
}

.video-container {
  cursor: pointer;
  display: inline-block;
  width: 320px;
  height: 320px;
  background-color: #ffffff;
  vertical-align: top;
  margin: 4px 4px 4px 0;
}

.video-container > img {
  width: 100%;
  display: block;
}

#text-container {
  height: 124px;
  overflow-y: hidden;
}

#text-container > h1 {
  text-align: left;
  font-size: 16px;
  margin: 16px 16px 0 16px;
}

#text-container > p {
  text-align: left;
  font-size: 12px;
  margin: 8px 16px 16px 16px;
}

paper-slider {
  width: 100%;
  top: -20px;
  position: relative;
  z-index: 1;
}

paper-fab {
  color: #827717;
  background-color: #b2ff59;
}

#close-button {
  color: #000000;
  background: linear-gradient(#ffffff, #e5e5e5);
  position: fixed;
  top: 16px;
  opacity: 0.5;
  z-index: 1;
}

paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #827717;
}

paper-slider::shadow #sliderKnobInner {
  background-color: #b2ff59;
}

paper-slider::shadow #sliderBar::shadow #secondaryProgress {
  background-color: #afb42b;
}

#playercontrols {
  margin-top: -40px;
}

#searchresults.veryNarrow {
  padding-right: 12px;
}

#searchresults.veryNarrow > .video-container {
  width: 100%;
}